<!DOCTYPE html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<title> Home Page</title>
<link rel="stylesheet" href="account.css">
</head>
<body>
 <input type="checkbox" id="check">
 <label for="check">
   <i class="fas fa-bars" id="btn"></i>
   <i class="fas fa-times" id="cancel"></i>
 </label>
 <div class="sidebar">
   <header>Survival Wisdom</header>
   <a href="/home">
     <i class="fas fa-home"></i>
     <span>Home</span>
   </a>
   <a href="/skills">
     <i class="fas fa-fire"></i>
     <span>Skills</span>
   </a>
   <a href="/keep_it_alive">
     <i class="fas fa-bomb"></i>
     <span>Keep It Alive</span>
   </a>
   <a href="/about">
     <i class="far fa-question-circle"></i>
     <span>About</span>
   </a>
   <a href="/account" class="active">
     <i class="fa fa-address-card"></i>
     <span>Account</span>
   </a>
   <div class="logout">
   <a href="/login">
    <i class="fas fa-sign-out-alt"></i>
     <span>Log Out</span>
   </a>
  </div>
 </div>
 <div class="frame">
  <div class="card">
    <div class="card__img"></div>
    <div class="card__avatar"></div>
    <div class="card__title"><%= @current_user.nickname%></div>
    <div class="card__subtitle">User Name: @<%=@current_user.name%></div>
    <div class="card__subtitle">Account Created : <%=@current_user.created_at%></div>

    <div class="card__subtitle">
    <%if Stat.where(user_id: current_user.id).order(days: :desc).first == nil%>
      Greatest number of days survived: 0
    <%else%>
      <% stat = Stat.where(user_id: current_user.id).order(days: :desc).first %>Greatest number of days survived: <%= stat.days.div(3) %></div>
    <%end%>
    <div class="card__subtitle">

    <% all_days = Stat.where(user_id: current_user.id).pluck(:days) %>
    <% total_days = all_days.sum %>

    <%if all_days.size-1 == 0 %>
      <% average_days = 0 %>
    <%else%>
      <% average_days = total_days.to_f / (all_days.size-1) %>
    <%end%>
     Number of days survived on average: <%=average_days.div(3) %></div>
     <% total_stats = Stat.where(user_id: current_user.id).count %>
    <div class="card__subtitle">Number of games played: <%=total_stats  %></div>
    <div class="card__subtitle">Total coins: <%= current_user.coins %></div>
    <div class="card__wrapper">
    <button class="card__btn" id="nickname-btn">Change Nickname</button>
    <button class="card__btn" id="password-btn">Change Password</button>
    </div>
    <form id="nickname-form" class="hidden-input" method="POST" action="/change_nickname">
        <input type="text" name="new_nickname" placeholder="Enter new nickname">
        <button type="submit">Confirm</button>
    </form>
    <form id="password-form" class="hidden-input" method="POST" action="/change_password">
        <input type="password" name="new_password" placeholder="Enter new password">
        <button type="submit">Confirm</button>
    </form>
  </div>
</div>

<script src="/rename.js"></script>
</body>
<html>