<head>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<title> Home Page</title>
<link rel="stylesheet" href="/game.css">

</head>
<body>
<div id="background">

  <div id="years"><span class="big">0</span> years in power</div>
  <div id="name">the_aliraza</div>

  <div id="main">
    <div id="top" class="textfix">
      <div id="topicons">
        <div class="topicon1">
          
        </div>
        <div class="topicon2">
          
        </div>
        <div class="topicon3">
         
        </div>
        <div class="topicon">
          
        </div>
      </div>
    </div>

    <!-- <div id="mid"> -->
    <div id="msg" class="textfix">
      <%= @current_question.statement %> 
    </div>
    
    <div id="card">
      
      <div id="carddiv">
        <div id="optionleft" class="left option"><%= @current_question.options[0].description%></div>
        <div id="optionright" class="right option"><%= @current_question.options[1].description%></div>
        <form id="myForm" action="/keep_it_alive/playing" method="post">
        <input type="hidden" id="valorInput" name="valor">
        <input type="hidden" id="pregunta" name="option1E" value= '<%= @current_question.options[0].effects %>' >
        <input type="hidden" id="pregunta" name="option2E" value= '<%= @current_question.options[1].effects %>' >
        </form>

      </div>
    </div>
    <div id="cardname" class="textfix">
      The King
    </div>
    <!-- </div> -->

    <div id="bottom" class="textfix">
      <div class="textfix">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
<script src="/game.js"></script>

</body>