<head>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
<title> Home Page</title>
<link rel="stylesheet" href="skills.css">
</head>
<body>
 <input type="checkbox" id="check">
 <label for="check">
   <i class="fas fa-bars" id="btn"></i>
   <i class="fas fa-times" id="cancel"></i>
 </label>
 
 <div class="sidebar">
   <header>Survival Wisdom</header>
   <a href="/home">
     <i class="fas fa-home"></i>
     <span>Home</span>
   </a>
   <a href="/skills" class="active">
     <i class="fas fa-fire"></i>
     <span>Skills</span>
   </a>
   <a href="/keep_it_alive">
     <i class="fas fa-bomb"></i>
     <span>Keep It Alive</span>
   </a>
   <a href="/leaderboard">
      <i class="fas fa-medal"></i>
      <span>Leaderboard</span>
   </a>
   <a href="/about">
     <i class="far fa-question-circle"></i>
     <span>About</span>
   </a>
   <a href="/account">
     <i class="fa fa-address-card"></i>
     <span>Account</span>
   </a>
   <% if @current_user.admin == 1%>
   <a href="/add_question">
     <i class="fa fa-lock"></i>
     <span>Add Question</span>
   </a>
 <%end%>
   <div class="logout">
    <a href="/login">
      <i class="fas fa-sign-out-alt"></i>
    <span>Log Out</span>
   </a>
  </div>
 </div>
 
 <div class="frame">
 <section>
  <a href="/skill/fire">
    <img src="img/fuego.jpg" alt="Fuego">
    <span class="image-text-1">Fire</span>
    <span class="des"><%= Skill.find_by(name: 'fire').description %></span>
  </a>
  <a href="/skill/shelter">
    <img src="img/refugio.jpg" alt="Refugio">
    <span class="image-text-2">Shelter</span>
    <span class="des"><%= Skill.find_by(name: 'shelter').description %></span>
  </a>
  <a href="/skill/food">
    <img src="img/comida.jpg" alt="Comida">
    <span class="image-text-3">Food</span>
    <span class="des"><%= Skill.find_by(name: 'food').description %></span>
  </a>
  <a href="/skill/medicine">
    <img src="img/medicina.jpg" alt="Medicina">
    <span class="image-text-4">Medicine</span>
    <span class="des"><%= Skill.find_by(name: 'medicine').description %></span>
  </a>
  <a href="/skill/water">
    <img src="img/agua.jpg" alt="Agua">
    <span class id="image-text-5">Water</span>
    <span class="des"><%= Skill.find_by(name: 'water').description %></span>
  </a>
</section>
  </div>  
  <script>
  document.addEventListener('keydown', function(event) {
    // Verificar si la tecla presionada es "Tab" (código 9)
    if (event.key === 'Tab') {
      event.preventDefault(); // Evitar el comportamiento predeterminado del tabulador
      
      // Obtener el checkbox que controla la barra lateral
      var sidebarToggle = document.getElementById('check');
      
      // Alternar el estado del checkbox para abrir o cerrar la barra lateral
      sidebarToggle.checked = !sidebarToggle.checked;
    }
  });
</script>

</body>
 